
/* lo que estamos haciendo es declarar estas variables paar tenerlas como base, tambine sirve por si se 
cambia los colores no volver a escribir lo mismo en todas partes */
:root
{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body
{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.login
{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.title
{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: left;
    margin-bottom: 24px;
}
.form
{
    display: flex;
    flex-direction: column;

}
.label
{
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 4px;
}
.output{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;    
}
.name-output, .email-output, .password-output
{
    margin-bottom: 22px;
}
.secondary-button
{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 16px;
}
.login-button
{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px)
{
    .secondary-button
    {
        width: inherit;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
    
}

